:root {
    --primary-text: #050505;
    --secondary-text: #65676B;
    --see-through-black: #000000ab;
    --box-shadow: rgba(0, 0, 0, 0.25);
    --white: #fff;
    --white-f9: #f9f9f9;
    --white-f3: #F3F3F3;
    --white-fc: #FCFCFD;
    --white-header: #F9FAFB;
    --white-search: #F9FBFF;
    --white-wannabe-grey: #EDEDEF;
    --grey-box: #D9D9D9;
    --gray-F6: #F6F6F6;
    --white-border: #E3E6E9;
    --gray-5A: #5A5A5A;
    --gray-reader: #667085;
    --grey-breadcrumb: #475467;
    --route-blue: #0E65B0;
    --route-grey: #7A7E86;
    --faint-blue: #5F89BA;
    --endeavour-blue: #0063B0;
    --red: #FF0000;
    --ghost-blue: #F4F7FC;
    --nav-active: #1294F2;
    --gray-c4: #C4C4C4;
    --grey-c1: #C1C1C1;
    --red-bold: #CE203B;
    --red-pink: #B7243B;
    --friar-grey: #7B7B7B;
    --translucent-gray: rgba(181, 181, 181, 0.33);
    --hopeful-blue: #1d79fa;
    --core-black: #000;
    --border-input: #ced4da;
    --breadcrumb: #e9ecef;
    --ceramic: #F0F0F0;
    --prm-gray: #D9D9D9;
    --prm-color: #1d79fa;
    --grey-b5: #B5B7C0;
    --light-grey: #EEE;
    --light-green: #46BD84;
    --light-yellow: #FCD980;
    --btn-grey: #797E83;
    --clean-blue: #0063B0;
    --border-tab: #282938;
    --percent-star: #3B90FF;
    --button-next-pre: #FCD980;
    --text-star-percent: #FFBA09;
    --deep-blue: #2063AF;
    --header-class: #2D3334;
    --gray-question: #BCC6C0;
    --logout-color: #98a2b3;
    --icon-color: #7E7E7E;
    --logo-color: #1075BC;
    --comment-color: #F0F2F5;
    --dark-purple: #362F4B;
    --progress-search-bar: #F5F8FA;
}